<div class="row justify-content-center", style='margin-top: 15rem'>
	<div class="col-md-3 col-12">
		<div class="container">
		  	<div><h3>Текущий курс:</h3><div>
		  	<div id='rate-value'>
		  		<h2 class='center'> <%= @last_rate.value %></h2>
		  	</div>
		</div>
	</div>
</div>
