// Place all the styles related to the currencies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
	height: 100%;
}

.rates__table_col1 {
	width: 160px;
}

.rates__table_col2 {
	width: 80px;
}

.rates__table_col3 {
	width: 140px;
}